<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
          .container {
      border: 1px solid;
      border-color : dimgray;
      padding : 5px; /*untuk ngasihh lebar background*/
      margin: 5px;
      justify-content: center;
      border-radius : 15px;
      text-align: center;
    }
        </style>
<title>Sekolah Kembang Kuncup</title>
</head>
<body>
    <div class="container">
    <h2 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">Log In</h2>
    <form action="/admin/login" method="POST">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required/>
        <label for="password">Password:</label>
        <input type="password" id="katasandi" name="katasandi" required/>
        <button type="submit">Log In</button>
    </form>
    </div>
</body>
<footer>
</footer>
</html>